<div class="container">
    <div class="row mb-4 d-flex">
        <h1>MENU</h1>
        <button type="button" class="btn btn-primary btn-sm" style="height: 50%; vertical-align: middle;" (click)="addDish()">Agregar</button>
    </div>
    <div *ngFor="let dish of dishes | async">
        <div class="row mb-2">
            <div class="col-3">
                <img src="{{dish.imgURL}}" alt="">
            </div>
            <div class="col-3">
                <span> {{dish.description}} </span>
            </div>
            <button type="button" class="btn btn-warning btn-sm mr-2" style="height: 50%;" (click)="updateDish(dish)">Editar</button>
            <button type="button" class="btn btn-danger btn-sm" style="height: 50%;" (click)="deleteDish(dish)">Eliminar</button>
        </div>
    </div>
</div>
