
<div class="container py-5 h-100">
  <div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-md-8 col-lg-7 col-xl-6">
      <img src="https://laugiordano.github.io/plazadelsolrestoweb/assets/img/img_login.jpg"
        class="img-fluid" alt="Frente">
    </div>
    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
      <form *ngIf="loginForm" novalidate [formGroup]="loginForm">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="email" class="form-control form-control-lg" formControlName="email"/>
          <label class="form-label" for="email">Usuario</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="password" class="form-control form-control-lg" formControlName="password"/>
          <label class="form-label" for="password">Contraseña</label>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-lg btn-block"(click)="submit()">Ingresar</button>
      </form>
    </div>
  </div>
</div>