<!-- Toolbar -->
<div class="toolbar col-12" role="banner">
    <img
      width="40"
      alt="Plazadelsol Logo"
      src="https://laugiordano.github.io/plazadelsolrestoweb/assets/img/plazadelsol_logo.jpg"
    />
    <span>Plaza del Sol Resto</span>
      <ul class="navbar-nav flex-row">
        <!-- Home -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/home">
                <em class="fa-solid fa-house"></em>
            </a>
        </li>
        <!-- User -->
        <li class="nav-item">
            <a class="nav-link" >
                <em class="fa-solid fa-user"></em>
            </a>
        </li>
        <!-- Cart -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/home/pedidos">
                <em class="fa-solid fa-cart-shopping"></em>
            </a>
        </li>
        <!-- Bars -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/todos">
              <em class="fa-solid fa-bars"></em>
          </a>
      </li>
      </ul>
  </div>